<h1>Legislators Index</h1>

<h2>Search by: </h2>
 <%= search_form_for @search do |f| %>
  <div class="field search">
    <%= f.label :state_name_cont, "State Name:" %>
    <%= f.text_field :state_name_cont %>
  </div>
  <div class="field search">
    <%= f.label :first_name_cont, "First Name:" %>
    <%= f.text_field :first_name_cont %>
  </div>
  <div class="field search">
    <%= f.label :last_name_cont, "Last Name:" %>
    <%= f.text_field :last_name_cont %>
  </div>
  <button type="submit" class="btn btn-primary search">
    <i class="glyphicon glyphicon-search"></i>
  </button>
<% end %>

<% @legislators.each do |legislator| %>
    <% if legislator.office? %>
        <%= render '/legislators/show_legislator', legislator: legislator %>
    <% end %>
   <!--  <pre><em><%= legislator.first_name %> <%= legislator.last_name %> <%= legislator.title %> <%= legislator.party %> <%= legislator.state_name %></em>
    Bioguide id:  <%= legislator.bioguide_id %>
    Crp id:       <%= legislator.crp_id %>
    Office:       <%= legislator.office %>
    Phone:        <%= legislator.phone %>
    Facebook id:  <%= legislator.facebook_id %>
    Twitter id:   <%= legislator.twitter_id %>
    Contact form: <%= legislator.contact_form %>
    Website:      <%= legislator.website %></pre>
    <br> -->
<% end %>

<%= paginate @legislators %>