<h1>Legislators Index</h1>

<!-- <#%= form_tag("/index", :method => "index") do %>
  <button type="submit" class="btn btn-primary">
    <i class="glyphicon glyphicon-search"></i> Update Legislators
  </button>
<#% end %>    
 -->

 <%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :state_name_cont, "Search by State:" %>
    <%= f.text_field :state_name_cont %>
  </div>
  <div class="field">
    <%= f.label :first_name_cont, "First Name:" %>
    <%= f.text_field :first_name_cont %>
  </div>
  <div class="field">
    <%= f.label :last_name_cont, "Last Name:" %>
    <%= f.text_field :last_name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% @legislators.each do |legislator| %>
    <pre><em><%= legislator.first_name %> <%= legislator.last_name %> <%= legislator.title %> <%= legislator.party %> <%= legislator.state_name %></em>
    Bioguide id:  <%= legislator.bioguide_id %>
    Crp id:       <%= legislator.crp_id %>
    Office:       <%= legislator.office %>
    Phone:        <%= legislator.phone %>
    Facebook id:  <%= legislator.facebook_id %>
    Twitter id:   <%= legislator.twitter_id %>
    Contact form: <%= legislator.contact_form %>
    Website:      <%= legislator.website %></pre>
    <br>
<% end %>