<h1>Legislators Index</h1>

<h2>Search by: </h2>
 <%= search_form_for @search do |f| %>
  <div class="field search">
    <%= f.label :state_name_cont, "State Name:" %>
    <%= f.text_field :state_name_cont %>
  </div>
  <div class="field search">
    <%= f.label :first_name_cont, "First Name:" %>
    <%= f.text_field :first_name_cont %>
  </div>
  <div class="field search">
    <%= f.label :last_name_cont, "Last Name:" %>
    <%= f.text_field :last_name_cont %>
  </div>
  <button type="submit" class="btn btn-primary search">
    <i class="glyphicon glyphicon-search"></i>
  </button>
<% end %>

<% @brews.each do |brew| %>
    <%= render '/legislators/show_brew', legislator: legislator %>
<% end %>

<%= paginate @legislators %>
