<h1>Your Legislators</h1>
  <div class="pull-right">
    <small>
      <%= form_tag("/your_legislators", :method => "get") do %>
      
        <%= label_tag(:search, "Find your your legislators:") %>
        <%= text_field_tag(:search, "Zip Code", :onclick => 'if($(this).val()=="Zip Code"){$(this).val("");};') %>
        <small><button type="submit" class="btn-main"><i class="glyphicon glyphicon-search"></i></button></small>
      <% end %>    
    </small>
  </div>
</h1>
<h2>Senators</h2>
<%= render '/legislators/show_legislator', legislator: @senior_senator %>
<%= render '/legislators/show_legislator', legislator: @junior_senator%>
<h2>Representative</h2>
<%= render '/legislators/show_legislator', legislator: @representative %>
