<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("htflogo.png") %></a>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "All Legislators", legislators_path %></li>
        <li><%= link_to "Your Legislators", your_legislators_path  %></li>
          <% if current_user %>
          <li>
            <%= link_to current_user.username, edit_user_registration_path%>
            <%#= raise " " %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class="sign-up"><li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>

